.film-box{
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-top: 100px;
}
.film-item-main{
    background-color: gray;
    padding-top: 7px;
}
.film-item-main p {
    padding: 0px 0px 10px 15px;
    margin: 0px;
    font-weight: lighter;
    color: white;

}
.score-info{
    display: flex;
}
.score-info p{
    margin-right: 15px;
    margin-top: 0px;
    font-family: sans-serif;
    font-size: 2ch;
    color: white;

}
.film-info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.film-info h3{
font-size: 4ch;
font-weight: 400;
font-family: sans-serif;
color: white;

}
.verticalLine{
    border-left: 2px solid gray;
    height: 20px;
    display: flex;
}
.verticalLine p{
    padding-left: 20px;
}
.gorizontLine{
    border-top: 2px solid gray;
    width: 100%;
    border-bottom: 2px solid gray;
    margin-top: 20px;
}
.gorizontLine p{
    margin: 35px 0px 35px 0px;
    font-family: cursive;
    font-size: 2ch;
    color: white;

}
.poster{
    width: 200px;
    height: 279px;
}
.main-item{
min-height: 100vh;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}
