<div *ngIf="movie" class="main-item" [ngStyle]= "{'background-image':'url('+getMovieImageUrl(movie.backdrop_path)+')'}">
    <div class="film-box">
        <img class="poster" [src]="getMovieImageUrl(movie.poster_path)"/>
        <div class="film-info">
            <h3>{{movie?.title}} </h3>
            <div class="score-info">
                <p>Score: {{movie.vote_average}}</p>
                <div class="verticalLine">
                    <p>popular: {{movie.popularity}}
                </div>
                <div class="verticalLine">
                    <p>Date release: {{movie.release_date}}</p>
                </div>
            </div>
            <div class= "gorizontLine">
                <p>{{movie.overview}}</p>
            </div>
        </div>
    </div>
</div>
