<div class="main-item">
    <div class="film-item-main">
        <p>Movies</p>
    </div>
    <div class="film-box">
        <img class="poster" src="{{logo}}"/>
        <div class="film-info">
            <h3>{{response?.title}} </h3>
                <div class="score-info">
                    <p>Score: {{response?.vote_average}}</p>
                        <div class="vl">
                            <p>popular: {{response?.popularity}}
                        </div>
                        <div class="vl">
                            <p>Date release: {{response?.release_date}}</p>
                        </div>
                </div>
                <div class= "gl">
                    <p>{{response?.overview}}</p>
                </div>
        </div>
    </div>
  </div>
