<div id="paginator">
    <table>
        <tr>
            <ng-container *ngIf="pageInRange(currentPage - 1 , pagesTotal)">
            <td>
                <a (click)="changePage(1)">
                    First
                </a>
            </td>
                <td>
                    <a (click)="changePage(currentPage - 1)">
                        Prev
                    </a>
                </td>
            </ng-container>
            <td *ngIf="pageInRange(currentPage - 2 , pagesTotal)">...</td>

            <td *ngFor="let pageNumber of pageNumberTrio">
                <a  
                (click)="changePage(pageNumber)"
                [ngStyle]="{color: currentPage === pageNumber ? '#009494' : '' }">
                    {{pageNumber}}
                </a>
            </td>

            <td *ngIf="pageInRange(currentPage + 2, pagesTotal)">...</td>
            <ng-container *ngIf="pageInRange(currentPage + 1, pagesTotal)">
                <td>
                    <a (click)="changePage(currentPage + 1)">
                        Next
                    </a>
                </td>
                <td>
                    <a (click)="changePage(pagesTotal)">
                        Last
                    </a>
                </td>
            </ng-container>
        </tr>
    </table>
</div>

