#paginator table, #paginator td {
    color: #505050;
    cursor: pointer;
    border: 2px solid #aaaaaa;
    border-collapse: collapse;
    padding: 4px 6px;
}

#paginator {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

